@use "../../../../styles/_tokens.scss" as tokens;

.input {
  width: 100%;
  color: tokens.$text;
  padding: 0.75rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  background: #fafafa;
  transition: border 0.2s;
}
.input:focus {
  outline: none;
  border-color: #1e8e3e;
  background: #fff;
}
