.likeButton {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ff0000;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.unlikeButton {
  display: flex;
  align-items: center;
  gap: 4;
  color: #000000;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
