@use "../../../../styles/_tokens" as tokens;

.container {
  position: relative;
}

.svg {
  transform: rotate(-90deg); // 12時の位置から開始
}

.backgroundCircle {
  fill: none;
  stroke: #e5e7eb;
}

.progressCircle {
  fill: none;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease-in-out;
  stroke: tokens.$main;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-weight: 600;
  color: #374151;
}

.value {
  font-size: 1.2rem;
  font-weight: 700;
}

.max {
  font-size: 0.8rem;
  color: #6b7280;
  margin-left: 1px;
}

.label {
  font-size: 0.75rem;
  font-weight: 500;
  color: #6b7280;
  text-align: center;
}
