.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    margin-bottom: 32px;
  }

  .buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    font-size: 0.5rem;

    .cancelButton {
      background-color: #f0f0f0;
      color: #333;
      padding: 10px 20px;
      cursor: pointer;
    }

    .logoutButton {
      background-color: #ff4d4d;
      color: white;
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}
