@use "../../../styles/tokens" as tokens;

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.noTitle {
  font-size: 0.8rem;
  color: #9ca3af;
  margin: 0;
  font-style: italic;
}

.titleCollectionButton {
  background: transparent;
  color: #6b7280;
  border: none;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}
