@use "../../../../styles/_tokens" as tokens;

.bottomBar {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: tokens.$main;
  border-radius: 8px 8px 0 0;
}

.bottomNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  position: relative;
}

.bottomNavLink {
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 8px;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
}

.addPostButton {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: tokens.$accent;
  padding: 12px;
  margin-bottom: 36px;
}

.active {
  color: #000;
  opacity: 1;
}

.inactive {
  color: #000;
  opacity: 0.4;
}

.addPostButton.active,
.addPostButton.inactive {
  opacity: 1;
  background: tokens.$accent;

  svg {
    opacity: 1;
  }
}

.addPostButton.inactive svg {
  opacity: 0.4;
}
