.bottomBar {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 200000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: var(--color-main);
  border-radius: 8px 8px 0 0;
}

.bottomNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  position: relative;
}

.circle {
  --active-circle-gap: 8px;
  position: absolute;
  top: calc(anchor(top) - 14px);
  left: calc(anchor(left) - 8px);
  width: 70px;
  height: 70px;
  background: var(--color-accent);
  box-shadow: 0 0 0 var(--active-circle-gap) var(--color-main);
  border-radius: 50%;
  z-index: -1;
  position-anchor: --anchor;
  transition: all 0.3s ease;
}

.bottomNavLink {
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 8px;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  transition: all 0.3s ease;
}

.active {
  color: #000;
  opacity: 1;
  transform: translateY(-30px);
  anchor-name: --anchor;
}

.inactive {
  color: #000;
  opacity: 0.4;
}

.addPostButton.active,
.addPostButton.inactive {
  opacity: 1;
  background: var(--color-accent);

  svg {
    opacity: 1;
  }
}

.addPostButton.inactive svg {
  opacity: 0.4;
}
