@use "../../../../styles/_tokens" as tokens;

.postCardComment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .readMoreButton {
    background: none;
    border: none;
    color: tokens.$main-dark;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 4px 0;
    transition: color 0.2s ease;

    &:hover {
      color: tokens.$accent;
    }
  }
}
