@use "../../../styles/_tokens.scss" as tokens;

.button {
  width: 100%;
  padding: 0.75rem 1rem;
  color: #fff;
  background: tokens.$main;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:disabled {
  background: tokens.$main;
  cursor: not-allowed;
}

.ghost {
  background: transparent;
  color: #fff;
  padding: 0.5rem;
  width: auto;
}
