:root {
  --main: #b2c42d;
  --main-dark: #727b6b;
  --accent: #dcc482;
  --danger: #e57373;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main: #b2c42d;
    --main-dark: #727b6b;
    --accent: #dcc482;
    --danger: #e57373;
  }
}
