@use "../../../../styles/_tokens" as tokens;

.nameAndTitleRow {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.activeTitle {
  font-size: 0.8rem;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(135deg, tokens.$main, tokens.$main-dark);
  padding: 4px 12px;
  border-radius: 12px;
  margin: 0;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}
